.stButton > button {
    width: 100%;
    border: #00000000;
    background: #00000000;
}

.stButton > button:hover {
    border: #2c5c83;
    color: #2c5c83;
    background: #00000000;
}

.stButton > button:focus {
    border: #2c5c83;
    color: #2c5c83;
    background: #00000000;
}

.stButton > button:focus:active {
    border: #2c5c83;
    color: #2c5c83;
    background: #00000000;
    box-shadow: #00000000 0px 0px 0px 0.2rem;
}

.stButton > button:focus:not(:active) {
    border: #2c5c83;
    color: rgb(38, 39, 48);
    background: #00000000;
    box-shadow: #00000000 0px 0px 0px 0.2rem;
}

.stMarkdown{
    height: fit-content;

}

